*{
  margin: 0;
  padding: 0;
}



body{
  background-color: rgb(199, 206, 202);
}



.logo{
  width: 140px;
  padding-left: 10pxS;
}
nav, .nav-links{
display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  position: sticky;
  top: 0;
}

.nav-links{
 gap: 2rem;
 list-style: none;
 font-size: 1rem;
}

a{
  color:rgb(14, 95, 24);
  text-decoration: none;
  text-decoration-color: none;
  font-weight: bolder;
}

a:hover{
  color: rgb(4, 58, 11);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color:  rgb(4, 58, 11);
}



.header-text{
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;

}

contact{
  padding-left: 10px;
}

.form{
  margin-left: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(24, 240, 60, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px; 
  background-color:rgb(100, 247, 100);
}

.price {
  color: rgb(24, 23, 23);
  font-size: 22px;
  font-weight: bolder;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(14, 63, 22);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px; 
}

.card button:hover {
  opacity: 0.7;
}
.card2 {
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
   border-radius: 10px;
   background-color: hsl(125, 56%, 35%);
}

/* Contact Page(Sandile) */
.cont {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgb(151, 160, 151);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

h1 {
  text-align: center;
  color: rgb(14, 63, 22);
}
form {
  margin-top: 20px;
  color:rgb(14, 63, 22);
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 63, 22);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
input[type="submit"]:hover {
  background-color: rgb(14, 63, 22);
}
p {
  margin-top: 20px;
  color: rgb(14, 63, 22);
  text-align: center;
  font-weight: bolder;
}
footer {

  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
iframe {
  margin-top: 20px;
}

/* home */

.h1{

  margin-bottom: 0%;
  color: rgb(24, 23, 23);
}

.h2{
  margin-bottom: 0%;
  color: rgb(24, 23, 23);
}
.h3{
  margin-bottom: 0%;
  color: rgb(24, 23, 23);
}
.span{
  margin-top: 0%;
  color: rgb(24, 23, 23);
}
.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: left;
  align-items: left;
}
.Pro {
  box-shadow: 0 4px 8px 0 rgb(24, 23, 23);
  max-width: 300px;
  border-radius: 10px;
  background-color: rgba(155, 243, 194, 0.2);
  /* margin: auto; */
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
  padding-bottom: 10px;
}
.home-section{
  margin-bottom: 50px;
}
/* home */
.card {
  box-shadow: 0 4px 8px 0 rgb(24, 23, 23);
  max-width: 300px;
  border-radius: 10px;
  background-color: rgba(155, 243, 194, 0.2);
  /* margin: auto; */
  text-align: center;
  font-family: arial;
}